<header class="header header-fixed-top">
        <div class="header-inner">
            <div class="brandbar brandbar-xsmall collapse in">
                <a class="brand" ui-sref="home"></a>

                <div class="statusbar pull-right">
                    <strong ng-bind="::translation.welcome"></strong><span class="text-warning" ng-bind="::user.role"></span>
                </div>
            </div>

            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <!--.btn-navbar is used as the toggle for collapsed navbar content--><a class="btn btn-navbar"
                        data-target=".nav-collapse" data-toggle=
                        "collapse"><span class="icon-bar"></span><span class=
                        "icon-bar"></span><span class="icon-bar"></span></a>

                        <!-- Everything you want hidden at 940px or less, place within here-->

                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                <li ng-class="getNavbarClass('home')">
                                    <a class="dropdown-toggle" href="" ng-click="checkView('home')"><i class="icon-home"></i><span ng-bind="::translation.home"></span></a>
                                </li>

                                <li class="divider-vertical"></li>
                            </ul>

                            <ul class="nav pull-right nav-small">
                                <li>
                                    <a href="" ng-click="logout()"><i class="icon-unlock"></i><span ng-bind="::translation.logout"></span></a>
                                </li>

                                <li class="divider-vertical"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="main">
        <div class="main-inner">
            <div class="sidebar sidebar-fixed"> <!-- Sidebar -->
                <a class="btn btn-sidebar" data-target=".sidebar-collapse" data-toggle="collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="sidebar-collapse">
                    <ul class="nav nav-list" id="accordion1">
                        <li ng-class="getNavbarClass('commission')">
                            <a ui-sref="commission"><i class="icon-screenshot"></i><span ng-bind="::translation.commission"></span></a>
                        </li>

                        <li ng-class="getNavbarClass('components')">
                           <!-- <a ui-sref="components"><i class="icon-th-large"></i><span ng-bind="::translation.components"></span></a>-->
                           <a href="" ng-click="checkView('components')"><i class="icon-th-large"></i><span ng-bind="::translation.components"></span></a>
                        </li>

                        <li ng-class="getNavbarClass('routers')">
                            <a href="" ng-click="checkView('routers')"><i class="icon-bullhorn"></i><span ng-bind="::translation.routers"></span></a>
                        </li>

                        <li ng-class="getNavbarClass('events')">
                           <a href="" ng-click="checkView('events')"><i class="icon-list-alt"></i><span ng-bind="::translation.events"></span></a>
                        </li>

                        <li class="divider"></li>

                        <li class="nav-header" ng-bind="::translation.settings"></li>

                        <li ng-class="getNavbarClass('network')">
                            <a href="" ng-click="checkView('network')"><i class="fa fa-sitemap fa-fw"></i><span ng-bind="::translation.network"></span></a>
                        </li>

                        <li ng-class="getNavbarClass('wnetwork')">
                            <a href="" ng-click="checkView('wnetwork')"><i class="fa fa-wifi fa-fw"></i><span ng-bind="::translation.wnetwork"></span></a>
                        </li>
                        <!--
                        <li ng-class="getNavbarClass('timesetting')" ng-show="isAdmin">
                            <a href="" ng-click="checkView('timesetting')"><i class="icon-time"></i><span ng-bind="::translation.timesetting"></span></a>
                        </li> 
                        -->
                        <li ng-class="getNavbarClass('certificate')" ng-show="isAdmin">
                            <a href="" ng-click="checkView('certificate')"><i class="icon-certificate"></i><span ng-bind="::translation.certificate"></span></a>
                        </li> 

                        <li ng-class="getNavbarClass('import')" ng-show="isAdmin">
                            <a href="" ng-click="checkView('import')"><i class="icon-upload"></i><span ng-bind="::translation.importFile"></span></a>
                        </li>

                        <li ng-class="getNavbarClass('export')" ng-show="isAdmin">
                            <a href="" ng-click="checkView('export')"><i class="icon-save"></i><span ng-bind="::translation.export"></span></a>
                        </li>

                        <li ng-class="getNavbarClass('password')" ng-show="isAdmin">
                            <a href="" ng-click="checkView('password')"><i class="icon-user"></i><span ng-bind="::translation.password"></span></a>
                        </li> 

                        <li class="divider" ng-show="false"></li> 

                        <li ng-class="getNavbarClass('about')" ng-show="false">
                            <a href="" ng-click="checkView('about')"><i class="icon-hdd"></i><span ng-bind="::translation.about"></span></a>
                        </li> 

                    </ul>
                </div>

               
                
            </div> <!-- End: Sidebar -->
            <div class="page">
                <span ui-view="content"></span>
            </div>
        </div>
    </div>

    <footer class="footer footer-fixed-bottom">
        <div class="footer-inner">
            &nbsp;&copy; {{::currentYear}} {{::translation.company}}
        </div>
    </footer>

<!-- Modal -->
<div ng-include="'views/commission_modal.html'"></div>
