<div class="row-fluid">
	<div ng-include="'views/message_template.html'"></div>
</div>
<div class="row-fluid">
	<div class="span12">
		<div class="well well-kabaWhite" >
			<form name="form" class="form-horizontal" ng-submit="submit()" novalidate>
				<legend ng-bind="::translation.title"></legend>
					
				<div class="control-group" ng-class="{ error : errorField }">
					<label for="installationCode" class="control-label" ng-bind="::translation.code"></label>
					<div class="controls">
						<input type="password" name="installCode" ng-hide="checked" ng-model="installcode" ng-change="clean()" placeholder="{{::translation.codePlaceholder}}">
						<input type="text" ng-show="checked" ng-model="installcode" ng-change="clean()" placeholder="{{::translation.codePlaceholder}}">
						<span class="help-inline" ng-bind="errorField"></span>	
						
					</div>
				</div>

				<div class="control-group">
					<div class="controls">
						<label class="checkbox">
					      <input type="checkbox" ng-model="checked"><span ng-bind="::translation.showInstallcode"></span>
					    </label>		
					</div>
				</div>

							
				<div class="control-group" ng-show="isAdmin">
					<div class="controls">
						<button id="saveButton" class="btn btn-custom-lighten" type="submit" ng-bind="::translation.saveButton"></button>
					</div>
				</div>
			</form>
		</div>				
	</div>
</div>
